.nav{  background-image: url('https://i.ibb.co/w0BcWTH/7459145.jpg');
  background-size: cover;
  height: 100vh;
  margin-top:20%;
  border-top-left-radius: 120px;
  border-top-right-radius: 120px;
}
body{
  background:#eeeeee;
}