/* Google Fonts Import Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
/* body{
  height: 100vh;
  display: flex;

  
} */
.animated-paragraph{
  font-size: 85px;
  position: relative;
  bottom:0;
  right: 0;
  left:0;
  top:70%;
  opacity:0.4
   }

.nav-wrappers{
  background-image: url('https://i.ibb.co/X5QCq4k/6794619.jpg');
  background-size: cover;
  height: 100vh;
  height: 100vh;
}
.nav-linkss{
  display: flex;
  /* align-items: center; */
  
  padding: 20px 15px;
  border-radius: 12px;
  padding-right: 20px;
  width:100%
}
.containers{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    /* margin-left: -1%; */
    float: right;

}
.nav-linkss li{
    justify-content: flex-end;
  list-style: none;
  margin: 0 12px;
}
.nav-linkss li a{
  position: relative;
  color: #333;
  font-size: 20px;
  font-weight: 500;
  padding: 6px 0;
  text-decoration: none;
}
.nav-linkss li a:before{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 0%;
  background:rgb(170, 170, 94);
  border-radius: 12px;
  transition: all 0.4s ease;
}
.nav-linkss li a:hover:before{
  width: 100%;
}


.nav-linkss li a:before{
  width: 100%;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.6s ease;
}
.nav-linkss li a:hover:before{
  transform: scaleX(1);
  transform-origin: left;
}
logo{

}


.toggle-button{
  position: absolute;
  top: 0;
  right: 0;
  /* display: none; */
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;

}
.toggle-button .bar{
  height: 3px;
  width: 100%;
  background-color: rgb(247, 0, 0);
  border-radius: 10px;
}

.barss{
  display: none;
}
.tops{
  display: flex;
  flex-direction: row;
 }
 .responsive{
  line-height: 3;
  display: flex;
  background-color: #c5c5c538;
  flex-direction: column;
  padding: 25px;
  /* height: 100%; */
  width: 100%;
 }
@media (max-width:600px) {
  .nav-wrappers{
    background-position: 20%;
  }
 .tops{
  display: none;
 }
 .barss{
  display: block;
 }
 
}
@media (max-width: 600px){
  .nav-wrappers{
    background-position: 20%;
    
  }
  .animated-paragraph{
 font-size: 40px;
 position: relative;
 bottom:10%;
 right: 0;
 left:0;
 opacity:0.4
  }

}