.navs{  background-image: url('https://i.ibb.co/C20XnLx/6794639.jpg');
    background-size: cover;
    height: 125vh;
    margin-top:20%;
    border-top-right-radius:120px;
    border-top-left-radius:120px;

  }
  body{
    background:#eeeeee;
  }
  