.navs{  background-image: url('https://i.ibb.co/C20XnLx/6794639.jpg');
    background-size: cover;
    height: 125vh;
    margin-top:20%;
    border-top-right-radius:120px;
    border-top-left-radius:120px;

  }
  body{
    background:#eeeeee;
  }
  .bigContainer{
width:60%;
margin-left:3%;
display: flex;
  }
  
  .typewriter{
    font-size: 20px;
    position:absolute;
    margin-left: 40%;
    margin-top: 5%;
    width: 50%;
    color:#898121
  }
  @media (max-width: 600px){
    .navs{
      height: 70vh;
      /* margin-top: -3%; */
      background-position-x: 31%;
      border-top-right-radius: 35px;
      border-top-left-radius: 35px;
    }
    .typewriter{
      margin-top: 5%;
      font-size: 11px;
      text-align: justify;
      margin-left: 43%;
    }
  }
  @media (max-width: 400px){

    .typewriter{
      text-align: justify;
      margin-top: 15%;
      margin-left: 44%;
      font-size: 8px;
    }
  }