.main1{  background-image: url('https://i.ibb.co/GdjwxSY/6794631.jpg');
    background-size: cover;
    height: 108vh;
    
    border-top-right-radius:120px;
    border-top-left-radius:120px;
    border-bottom-right-radius:120px;
    border-bottom-left-radius:120px;
  }

  .cards{
    margin-left: 8%;
    margin-top: 24%;
    transform: skewX(9deg);
    transform: rotate(-1deg);
    
    height:52%;
    width: 50%;
    /* margin: 121px; */
    border: aliceblue;
    border-style: solid;
    position: absolute;
    background-color: #E4C988;

  }
  .bullets{
    padding-bottom: 30px;
    list-style: none;
    font-size:10px;
  }
  .description{ text-align:center;
    font-size: 13px;
  }
  @media screen and (min-width: 1286px) {
  
 .description{ text-align:center;
  font-size: 23px;
 }

}
@media screen and (max-width: 600px){

  .main1 {
    background-image: url(https://i.ibb.co/GdjwxSY/6794631.jpg); background-size: cover; height: 35vh; background-position-x: 50%; border-top-right-radius: 25px; border-top-left-radius: 25px; border-bottom-right-radius: 25px; border-bottom-left-radius: 25px;
}
.cards{
  margin-left: 1%;
  margin-top: 6%;
  transform: skewX(9deg);
  transform: rotate(-1deg);
  height: 29%;
  font-size: 8px;
  width: 63%;
  /* margin: 121px; */
  border: aliceblue;
  border-style: solid;
  border-width: 5px;
  position: absolute;
  background-color: #E4C988;
}
.description{ text-align:center;
  font-size: 8px;
}
.bullets{
  font-size: 7px;
}
 }
 @media (max-width: 400px){


  .main1 {
    background-image: url(https://i.ibb.co/GdjwxSY/6794631.jpg); background-size: cover; height: 35vh; background-position-x: 50%; border-top-right-radius: 25px; border-top-left-radius: 25px px ; border-bottom-right-radius: 25px; border-bottom-left-radius: 25px;
}
.cards{
  margin-left: 1%;
  margin-top: 6%;
  transform: skewX(9deg);
  transform: rotate(-1deg);
  height: 29%;
  font-size: 7px;
  width: 63%;
  /* margin: 121px; */
  border: aliceblue;
  border-style: solid;
  border-width: 5px;
  position: absolute;
  background-color: #E4C988;
  }
  .description{ text-align:center;
    font-size: 7px;
  }
 }
 @media (max-width: 365px){

  .cards{
    margin-left: 1%;
    margin-top: 6%;
    transform: skewX(9deg);
    transform: rotate(-1deg);
    height: 29%;
    font-size: 7px;
    width: 63%;
    /* margin: 121px; */
    border: aliceblue;
    border-style: solid;
    border-width: 5px;
    position: absolute;
    background-color: #E4C988;
    }
    .description{ text-align:center;
      font-size: 6px;
    }

 }
 @media (max-width: 375px){
  .description{ text-align:center;
    font-size: 6px;
  }

 }


   